@import "style.scss";
@import "navmenu";
@import "offers";
@import "request";
@import "terms";
@import "footer";

.main {
	background: url('../media/img/lines.png') 0 -450px no-repeat;
	padding-top: 80px;
	@media (max-width: 1230px) {
		padding-top: 50px;
	}
	@media (max-width: 768px) {
		padding-top: 30px;
	}
}

.header {
	width: 100%;
	border-radius: 0px 0px 50px 50px;
	background: url('../media/img/background.png') no-repeat;
	background-size: cover;
	background-position: right;
	padding-bottom: 50px;
	position: relative;
	z-index: 5;
	min-width: 375px;

	&__row {
		position: relative;
		padding: 171px 0 121px;
	}

	&__text {
		color: white;
		font-style: normal;
		position: relative;
		z-index: 3;
	}

	&__title {
		font-family: 'PT Sans';
		font-weight: 700;
		font-size: 70px;
		line-height: 73px;
		margin-bottom: 46px;
		max-width: 778px;
	}

	&__subtitle {
		font-family: 'Fira Sans';
		font-weight: 500;
		font-size: 36px;
		line-height: 42px;
		letter-spacing: -0.02em;
		max-width: 851px;
	}

	&__picture {
		width: 567px;
		height: 567px;
		position: absolute;
		right: -79px;
		top: 3px;

		img, picture {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: bottom;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	@media (max-width: 1155px) {
		&__row {
			padding: 121px 0 101px;
		}
		&__title {
			font-size: 60px;
			line-height: 63px;
			max-width: 650px;
		}
	
		&__subtitle {
			font-size: 30px;
			line-height: 36px;
			max-width: 750px;
		}
		&__picture {
			width: 400px;
			height: 400px;
			top:auto;
			bottom: 0;
		}
	}
	@media (max-width: 945px) {
		&__row {
			padding: 47px 30px 40px;
		}
		&__title {
			font-size: 50px;
			line-height: 1;
			max-width: 530px;
			margin-bottom: 37px;
		}
		&__subtitle {
			font-size: 20px;
			line-height: 28px;
			max-width: 477px;
		}
		&__picture {
			width: 300px;
			height: 300px;
			right: -37px;
			bottom: -46px;
		}
	}
	@media (max-width: 768px) {
		padding-bottom: 0;
		&__row {
			padding: 40px 0 215px;
		}
		&__title {
			font-size: 30px;
			width: 100%;
			margin-bottom: 28px;
		}
		&__subtitle {
			font-weight: 400;
			font-size: 16px;
			line-height: 110%;
			width: 90%;
		}
		&__picture {
			width: 379px;
			height: 266px;
			bottom: 0;
		}
	}
}

.partners {
	width: 100%;
	position: relative;

	::-webkit-scrollbar { 
		display: none; 
	}
	-ms-overflow-style: none;  /* IE и Edge */

	&__body {
		background-color: #F7F8F9;
		position: absolute;
		z-index: 1;
		top: -85px;
		border-radius: 50px;
		width: 100%;
		padding-top: 85px;
		height: 355px;
	}

	&__row {
		text-align: center;
		padding: 58px 0;
		position: relative;
		z-index: 2;
		overflow-x: scroll;
		scrollbar-width: none;
		white-space: nowrap; 
	}

	&__item {
		display: inline-block;
		text-align: center;
		margin-right: 52px;
	}

	&__icon {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 32px;
		transition: all 0.7s ease-out 0s;

		&:hover {
			transition: all 0.7s ease-out 0s;
			background: linear-gradient(90.72deg, #9399FF 8.66%, #6C99FF 44.36%, #18C0FF 96.55%);
			svg path {
				transition: all 0.7s ease 0s;
				fill: white;
			}
		} 
	}

	&__name {
		font-family: 'SF Compact Display';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 13px;
		text-align: center;
		color: #394252;
	}
	@media (max-width: 1155px) {
		&__body {
			height: 239px;
			border-radius: 30px;
		}
		&__row {
			padding: 30px 0;
		}
		&__item {
			margin-right: 27px;
		}
		&__icon {
			width: 68px;
			height: 68px;
			margin-bottom: 18px;
			svg {
				width: 40%;
			}
		}
		&__name {
			font-size: 11px;
			line-height: 8px;
		}
	}
	@media (max-width: 768px) {
		&__body {
			height: 193px;
			border-radius: 24px;
		}
		&__row {
			padding: 20px 0;
		}
		&__item {
			margin-right: 14px;
		}
		&__icon {
			width: 53px;
			height: 53px;
			margin-bottom: 9.5px;
			svg {
				width: 40%;
			}
		}
		&__name {
			font-size: 9px;
			line-height: 6px;
		}
	}
}

.request::before, .request::after {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: -100px;
	width: 742.55px;
	height: 278.22px;
	transform: matrix(-0.97, 0.19, 0.27, -0.98, 0, 0);

	@media (max-width: 1230px) {
		display: none;
	}
}

.request::before {
	left: 150px;
	background: #E3F4E6;
	filter: blur(200px);
}
.request::after {
	right: 150px;
	background: linear-gradient(15.73deg, #E6F6E4 1.34%, #F6FFE4 100.17%);
	filter: blur(250px);
}
