// обнуляющие стили
@import "nullstyle";

// шрифт
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap');

@font-face {
	font-family: 'SF Compact Display';
	src: url('../fonts/SFCompactDisplay-Medium.eot');
	src:url('../fonts/SFCompactDisplay-Medium.woff2') format('woff2'),
		 url('../fonts/SFCompactDisplay-Medium.woff') format('woff'),
		 url('../fonts/SFCompactDisplay-Medium.ttf') format('truetype'),
		 url('../fonts/SFCompactDisplay-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'SF Compact Display';
	src: url('../fonts/SFCompactDisplay-Regular.eot');
	src:url('../fonts/SFCompactDisplay-Regular.woff2') format('woff2'),
		 url('../fonts/SFCompactDisplay-Regular.woff') format('woff'),
		 url('../fonts/SFCompactDisplay-Regular.ttf') format('truetype'),
		 url('../fonts/SFCompactDisplay-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// цвет
$grey: #3F4651;
$green: #38AC5A;

// шаблоны

%button {
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 16px;
	letter-spacing: -0.02em;
	transition: all 0.7s ease 0s;

	@media (max-width: 1230px) {
		height: 40px;
		border-radius: 5.6px;
		font-weight: 600;
	}
}

%title {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 110%;
	color: $grey;
	span {color: $green;}

	@media (max-width: 995px) {
		font-size: 32px;
		letter-spacing: 0.0025em;
	}
	@media (max-width: 748px) {
		font-size: 20px;
		line-height: 120%;
		letter-spacing: 0.0015em;
	}
}

%icon {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: 748px) {
		width: 24px;
		height: 24px;
		margin-bottom: 20px;
	}
}

// миксины
@mixin greyButton ($width) {
	@extend %button;
	width: $width;
	background-color: $grey;
	color: white;
		&:hover {
			background-color: #5C626C;
			transition: all 0.5s ease 0s;
		}
		&:active {
			background-color: #8B9097;
			transition: all 0.5s ease 0s;
		}
}
@mixin greenButton ($width) {
	@extend %button;
	width: $width;
	background-color: $green;
	color: white;
		&:hover {
			background-color: #64BE5F;
			transition: all 0.5s ease 0s;
		}
		&:active {
			background-color: #89CC5A;
			transition: all 0.5s ease 0s;
		}
}
@mixin whiteButton ($width) {
	@extend %button;
	width: $width;
	background-color: white;
	color: $green;
	border: 1px solid $green;
		&:hover {
			border: 2px solid $green;
			transition: all 0.7s ease 0s;
		}
		&:active {
			border: 2px solid #89CC5A;
			color: #89CC5A;
			transition: all 0.5s ease 0s;
		}
}

// описание стилей
body {
	font-family: 'SF Compact Display';
	&.lock {
		overflow: hidden;
	}
}

h1 {
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	color: black;
	line-height: 150%;
	letter-spacing: -0.01em;
}
h2 {
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	color: black;
	line-height: 150%;
	letter-spacing: -0.01em;
}
h3 {
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	color: black;
	line-height: 150%;
	letter-spacing: -0.01em;
}
h4 {
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	color: black;
	line-height: 150%;
	letter-spacing: -0.01em;
}

.wrap {
	min-height: 100vh;
  	overflow: hidden;
}
.container {
	max-width: 1350px; // 1290+padding
	min-width: 310px; //375-padding
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
}

.offers {
	&__btn {
		@include whiteButton(100%);
		align-self: flex-end;
		border: 3px solid #1E9747;
	}
}
.form {
	&__button {
		@include greenButton(100%);
		margin-bottom: 14px;
		@media (max-width: 1230px) {
			font-size: 12px;
		}
		@media (max-width: 768px) {
			height: 50px;
			border-radius: 10px;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}
.terms__btn {
	@include greyButton(307px);
}

.popup {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:50;
	background-color: rgba(#000, 0.3);
	overflow-y: auto;
	overflow-x: hidden;
	
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__content {
		background-color: white;
		padding: 80px 86px;
		width: 1024px;
		box-shadow: 20px 0px 80px rgba(63, 70, 81, 0.15);
		font-family: 'PT Sans';
		font-style: normal;
		border-radius: 10px;
		position: relative;
		&_small {
		 	padding: 80px 448px 60px 86px;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 50px;
		letter-spacing: -0.02em;
		color: $grey;
		max-width: 475px;
		margin-bottom: 35px;
		span {
		color: $green;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 30px;
		line-height: 130%;
		color: $grey;
		margin-bottom: 45px;
	}
	&__input {
		width: 100%;
		padding: 10px 10px 10px 30px;
		height: 70px;
		background: #FFFFFF;
		border: 1px solid #B6C2D7;
		border-radius: 10px;
		font-weight: 500;
		font-size: 30px;
		line-height: 110%;
		font-family: 'Fira Sans';

		&:not(:last-child) {
			margin-bottom: 15px;
		}
		&:last-child {
			margin-bottom: 20px;
		}
		&::placeholder {
			font-family: 'Fira Sans';
			font-weight: 500;
			font-size: 18px;
			line-height: 110%;
			color: $grey;
			position: relative;
			bottom: 4px;
		}
		&.red::placeholder {
			color: #E35B63;
		}
	}
	&__button {
		@include greenButton(100%);
	}
	&__form {
		margin-bottom: 27px;
		position: relative;
		z-index: 2;
	}
	&__comment {
		font-family: 'Fira Sans';
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: #6D7A88;
		width: 300px;
		margin: 0 auto;
	}
	&__btn {
		position: absolute;
		top: 80px;
		right: 86px;
		@include whiteButton(206px);
	}
	&__star {
		position: absolute;
		right: 110px;
		bottom: 30px;
		z-index: 1;
		width: 155px;
		height: 155px;
		img {
			width: 100%;
		}
		&-white {
			position: absolute;
			width: 190px;
			height: 190px;
			right: 60px;
			top: 81px;
			img {
				width: 100%;
			}
		}
	}

	@media (max-width: 1230px) {
		&__content {
			width: 600px;
			padding: 38px 50px;
			&_small {
				padding: 38px 253px 24px 50px;
			}
		}

		&__title {
			max-width: 320px;
			font-size: 30px;
			line-height: 34px;
			margin-bottom: 21px;
		}

		&__text {
			margin-bottom: 34px;
			font-size: 18px;
		}

		&__form {
			margin-bottom: 16px;
		}
		&__input {
			&::placeholder {
				font-size: 12px;
				bottom: 6px;
			}
		}

		&__button {
			height: 70px;
		}

		&__btn {
			right: 53px;
			top: 38px;
			width: 157px;
		}

		&__star {
			width: 113px;
			height: 113px;
			right: 10px;
			bottom: 15px;

			&-white {
				width: 105px;
				height: 105px;
				right: 34px;
				top: 45px;
			}
		}
	}
	@media (max-width: 768px) {
		&__content {
			width: 280px;
			min-width: 280px;
			padding: 73px 30px 43px;
			&_small, &_simple {
				padding: 22px 34px 14px;
			}
		}

		&__title {
			max-width: 225px;
			font-size: 22px;
			line-height: 24px;
			margin-bottom: 23px;
		}

		&__text {
			margin-bottom: 20px;
			font-size: 12px;
			line-height: 15px;
			&_small {
				padding-right: 25px;
				margin-bottom: 30px;
			}
		}

		&__form {
			margin-bottom: 12px;
		}

		&__input {
			height: 37px;
			padding: 12px 30px;
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}

		&__button {
			height: 37px;
			font-size: 12px;
			border-radius: 10px;
			margin-top: 5px;
		}

		&__comment {
			width: 159px;
			font-size: 9px;
			line-height: 10px;
		}

		&__btn {
			width: 102px;
			height: 30px;
			right: 25px;
			top: 29px;
			font-size: 12px;
		}

		&__star {
			width: 52px;
			height: 52px;
			bottom: 35px;
			&-white {
				width: 40px;
				height: 40px;
				top: 27px;
				right: 15px;
			}
		}
	}
}